*{
	font-family: sans-serif;
}
body{
	background-color: #eee;
}
.notifs{
	color:white;
	background-color: salmon;
	border-radius: 10px;
	width:20px;
	height:20px;
	padding-left:5px;
	padding-right:5px;
	padding-top:1px;
	padding-bottom:1px;
	font-weight: bold;
	/*float: right;*/
	margin-left: 5px;
}
.btn{
	border-radius: 1px;
}
.button-container{
	background-color: white;
	padding:10px;
	border-radius: 2px;
	margin-top: 10px;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	-moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}

@media only screen and (max-width : 500px) {
	.button-container{
		margin-top: 0px;
	}
	.container{
		padding-left: 5px;
		padding-right: 5px;
	}
	.panel-body{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .handle-container{
    margin-top: 0px;
  }
  .button-container{
    margin-top: 0px;
  }
  .dashboard-container{
    margin-top: 0px;
  }
  .search-container{
    margin-top: 0px;
  }
  .alert-container{
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
  .handle-container{
    margin-top: 5px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  }
  .button-container{
    margin-top: 15px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  }
  .dashboard-container{
     margin-top: 5px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  }
  .search-container{
     margin-top: 5px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
    box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  }
  .alert-container{
    margin-top: 5px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px){
  .extended-modal {
    max-width:1000px;
    width:100%;
  }
}

.dashboard-container{
	background-color: white;
	padding:20px;
	margin-top: 10px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	-moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
#page_header{	
	background-color: white;
}
.padless{
	padding:0 !important;
}
input.form-control,textarea.form-control{
	border-radius: 1px;
	border: solid 1px #ddd;
}
.input-group .btn, .input-group input{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(219,219,219,1);
	box-shadow: 0px 1px 2px 0px rgba(219,219,219,1);
} 
.divide-space{
	padding-top:10px;
}
.placehold{
	height:10px;
	width:10px;
}
.breadcrumb{
	margin-bottom: 0;
	background-color: white;
}
.marginless{
	margin:auto !important;
}
input[type=checkbox].css-checkbox {
  position:absolute; 
  z-index:-1000; 
  left:-1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0; 
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:27px;
  height:22px; 
  display:inline-block;
  line-height:22px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -22px;
}
label.css-label {
	font-weight: normal;
  background-image:url(../img/ckbx.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=radio].css-radiobutton {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio].css-radiobutton + label.css-rlabel {
	padding-left:28px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}
input[type=radio].css-radiobutton:checked + label.css-rlabel {
	background-position: 0 -23px;
}
label.css-rlabel {
	background-image:url(../img/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 0px;
    left: 3px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    z-index: 4;
}
.has-feedback input{
	padding-left:  30px;
}
.hidden{
	display: none;
}
.radio-group{
	background-color: #f3f3f3;
	padding:1px;
	padding-top:5px;
	width:288px;
	border-radius: 1px;
	border: solid 1px #dfdfdf;
}
.radio-group-comment{
	background-color: #f3f3f3;
	padding:5px;
	padding-top:10px;
	border-radius: 1px;
	border: solid 1px #dfdfdf;
	font-weight:bold;
}
.radio-group-comment textarea{
	margin-top:10px;
}
.radio-group-comment .css-rlabel{
	font-size: 16px;
}
.normal-weight{
	font-weight: normal;
}
.mini-container{
	margin-left: 20px;
}
.questionaire-label{
	font-size: 15px;
}
.info-label{
	margin-bottom: 0;
}
.infoLabels{
	font-weight: bold;
}
.info-big{
	display: block;
	font-size: 30px;
}
.info-block{
	display: block;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.status-table td{
	padding:3px;
	padding-left:20px;
}
.bold{
	font-weight: bold;
}
.status-success{
	color:yellowgreen;

}
.status-danger{
	color:salmon;
}
.status-primary{
	color:yellowgreen;
}
.status-warning{
	color:goldenrod;
}
.status-table tr:hover{
	background-color: #ddd;
	cursor: pointer;
}
.table-dashboard tr:hover{
	cursor: pointer;
	background-color: #eee;
}
.table-dashboard thead tr:hover{
	background-color: white;
	cursor: default;
}
.text-accepted{
	font-weight: bold;
	color: yellowgreen;
}
.text-rejected{
	font-weight: bold;
	color: salmon;
}
.text-processing{
	font-weight: bold;
	color: goldenrod;
}
.debughead{
	background-color: goldenrod;
}
.red-status{
	background-color: salmon;
	font-weight: bold;
}
.modal-style-stmo{
	background-color: #242f65;
	color: white;
}
.white-font{
	color: white;
}
.left-margin-20{
	margin-left: 20px;
}
.dashboard-body{
	cursor: pointer;
	background-color: salmon;
	margin-top:15px;
	margin-bottom:15px;
	height:115px;
	overflow: none;
	overflow: hidden;
	border-radius: 2px;
}
.dashboard-background{
	position:absolute;
	color: white;
	font-size: 100px;
	left:15px;
	/*top:-30px;*/
	opacity: 0.3;

}
.dashboard-content{
	width: 100%;
	text-align: right;
	color:white;
	font-size: 40px;
	padding-right:20px;
	padding-top:20px;
	text-decoration: none;
}
.dashboard-sub{
	text-decoration: none;
	position:relative;
	top:-13px;
	right:20px;
	width: 100%;
	text-align: right;
	color:white;
	font-size: 20px;
}

.dashboard-footer{
	text-decoration: none;
	position:relative;

	width: 100%;

	text-align: center;
	color:white;
	background-color: #666;
	font-size: 12px;
}
.dashboard-container{
	background-color: white;
	padding:20px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	-moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
.dashboard-min-body{
	cursor: pointer;
	background-color: salmon;
	height:100px;
	overflow: none;
	overflow: hidden;
	border-radius: 2px;
}
.dashboard-min-background{
	position:absolute;
	color: white;
	font-size: 85px;
	left:15px;
	opacity: 0.3;

}
.dashboard-min-content{
	width: 100%;
	text-align: right;
	color:white;
	font-size: 30px;
	padding-right:5px;
	padding-top:20px;
	text-decoration: none;
}
.dashboard-min-sub{
	text-decoration: none;
	position:relative;
	top:-13px;
	right:10px;
	width: 100%;
	text-align: right;
	color:white;
	font-size: 18px;
}
.dashboard-min-container{
	background-color: white;
	padding:20px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	-moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
	box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
.dashboard-pending{
	background-color: #f88627;
}
.dashboard-pending:hover{
	background-color: #e27a23;
}
.dashboard-primary{
	background-color: #337ab7;
}
.dashboard-primary:hover{
	background-color: #2e6da4;
}
.dashboard-success{
	background-color: #5cb85c;
}
.dashboard-success:hover{
	background-color: #4cae4c;
}
.dashboard-comi{
	background-color: #02a849;
}
.dashboard-comi:hover{
	background-color: #068f41;
}
.btn{
	border-radius: 1px;
}
.unavailable{
	font-style: italic;
	color:#aaa;
}
/*input,select,textarea{
	font-weight: bold !important;
}
label{
	font-weight: normal !important;
}*/
.has-error-evaluate{
	color:#d9534f;
}
.has-error-evaluate .radio-group,.has-error-evaluate .radio-group-comment{
	border:solid 1px #d9534f !important;
}
.alert{
	margin-bottom: 0px;
}
.req{
	color:red;
	font-weight: bold;
	font-size: 15px;
}
.addr-label{
	width:125px;
	text-align: left;
}
.addr-group{
	width:100%;
}
.tbhead {
    background-color: #666 !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
}
.tbhead >th{
	border-color: #666 !important;
}
.tbhead-warning {
    background-color: goldenrod !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
}
.tbhead-warning >th{
	border-color: goldenrod !important;
}
.tbhead-primary {
    background-color: cornflowerblue !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
}
.tbhead-primary >th{
	border-color: cornflowerblue !important;
}
.tbhead-gray {
    background-color: #ddd !important;
    color: black !important;
    font-weight: bold;
    text-align: center;
}
.tbhead-gray >th{
	border-color: #ddd !important;
}
.handle-container{
    background-color: white;
    padding:5px;
    border-radius: 2px;
}
.search-container{
  margin-top: 10px;
  background-color: white;
  padding:10px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
.breadcrumb-container{
  background-color: white;
  padding:10px;
  border-radius: 2px;
  margin-top: 10px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
.alert-container{
  border-radius: 0px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  -moz-box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
  box-shadow: 1px 1px 6px 1px rgba(207,207,207,1);
}
.pointer{
	cursor: pointer;
}
.ui-autocomplete {
    z-index: 2147483647;
}
.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto; 
  position: fixed;
  top: 0;
  left: 0;
  cursor: default;
  max-height:150px;
  cursor:pointer;
  z-index: 1051;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-suggestions>.selected {
  background-color: #1BA1E2;
  color:white;
}
.table-logs-scroll{
	max-height: 250px;
	overflow-y: auto;
}
.patient-info{
	background-color: #eee; 
	border: solid 1px #ccc; 
	padding: 10px; 
	border-radius: 5px;
}
.table{
	margin-bottom: 0px;
}