.login-form{
  width:375px;
  background-color: white;
  margin:auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-color:white;
  padding:20px;
  text-align: center;
}

.register-form{
  width:375px;
  background-color: none;
  margin:auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-color:white;
  text-align: center;
  margin-top: 20px;
}
body {
  background: #ddd; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.btn{
  border-radius: 0;
}
.captcha{
  width:100%;
  margin-top:10px; 
  margin-bottom:10px; 
}
.login-container{
  margin-top:5%;
}
.register-label{
  color:white;

}