*{
	font-family: sans-serif;
	font-size: 10px;
}
#head1{
	font-size: 15px;
	text-align: center;
}
#head2{
	font-size: 15px;
	color:#f26b00;
	text-align: center;
	font-weight: bold;
}
#head3{
	font-weight: bold;
	text-align: center;
}
#main-table{
	border-collapse: collapse;
	width:100%;
}
#main-table td{
	border-collapse: collapse;
	border: solid 1px black;
}
.tbl-header{
	text-align: center;
	background-color: lightyellow;
}
.left-only{
	border: none !important;
	border-left: solid 1px black !important;
	background-color: white !important;
	text-align: center;
}
.left-down{
	border: none !important;
	border-left: solid 1px black !important;
	border-bottom: solid 1px black !important;
	background-color: white !important;
	text-align: center;
}
.text-center{
	text-align: center;
}
.no-border td{
	border:none !important;
}
#watermark {
    position: fixed;
    top:   	10%;
    width:    100%;
    /*height:   8cm;*/
    z-index:  -1000;
}