<span style='color: #000' title='Frames'>   435</span><span style='color: #009' title='Memory'>  23040.00 KB</span><span style='color: #900' title='Time'>    659.94 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />